{% extends "layout.html" %}

{% block title %}
    about
{% endblock %}

{% block main %}

<h4>What is this?</h4>

<p class="about-text">The route to ICE Membership could be painful, time-consuming and full of uncertainties. We discovered that there are limited online resources that help civil engineers in becoming professionally qualified. Whether you are working towards your Technician, Incorporated or Chartered membership with the Institution of Civil Engineers, you are very likely to have doubts, fears and concerns about the whole process. We believe that this process is not difficult, but it is very bureaucratic, requires loads of paperwork and writing. It could become tiring. Often people lose motivation and momentum. It is also quite frequent that although people have got suitable knowledge and experience, they find it difficult to demonstrate it to the reviewers. Hence, it is not uncommon to observe the failures of well-experienced engineers.</p>
<p class="about-text">To avoid this, we offer guidance, advise and couching throughout the whole process. Our product offering is simple. We offer one-to-one coaching and mentorship sessions which include guidance, advice and thorough help throughout the process. We provide not only help during the one-to-one sessions but also outside the paid mentorship hours.
By buying our services, you will get the following:</p>
<ul style="list-style-type:square;">
    <li>Help with the Initial Profssional Development (IPD)</li>
    <li>Help with Continuious Professional Development (CPD)</li>
    <li>Help with the individual attributes</li>
    <li>Help with the application</li>
    <li>Help with CV</li>
    <li>Review and assessment of the Professional Review Report</li>
    <li>Advice and guidance on how to improve the Professional Review Report</li>
    <li>Review and assessment of the Professional Review Presentation</li>
    <li>Advice and guidance on how to improve the Professional Review Presentation</li>
    <li>Providing useful notes to help avoid time-consuming research</li>
    <li>Interview preparation</li>
    <li>Providing tailored Written Exercise questions</li>
    <li>Help with the Written Exercise</li>
    <li>Review and assessment of the Written Exercise responses</li>
    <li>Advice on the new format of the ICE Professional Review (newly proposed changes)</li>
</ul>
<p></p>
<p>As a part of our service, if you buy a minimum of 4 hours of coaching sessions we offer a <span class="attention">100% MONEY BACK GUARANTEE</span>. You are entitled to a <span class="attention">FULL REFUND</span> if you fail the Professional Review. You will also be entitled to a <span class="attention">50% DISCOUNT</span> on the subsequent coaching sessions before your second attempt.</p>
<p></p>
<p>If you have any questions, do not hesitate to contact us through the <a href="/contact" style="font-weight:900;">contact page</a>.</p>
<p>You can also <a href="/register" style="font-weight:900;">register</a> on this website, which will make you eligible for future offers, discounts, new services and updates.</p>
<p>We wish you all the best in your path to becoming professional civil engineers!</p>

{% endblock %}

